@import "../../../shared/styles/common.scss";
@import "../../../shared/styles/variables.scss";

.topbar {
    min-height: 60px;
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    .container {
        .content {
            .linksMobile {
                display: none;
            }
        }
    }
}
.links,
.linksOpen {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    .grouplinks {
        @extend %flex-center;
        .link,
        .linkOpen {
            color: $dark-color;
            font-size: $subtitle-size;
            padding: 10px;
            cursor: pointer;
            a {
                color: $dark-color;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .topbar {
        .container {
            .content {
                .linksDesktop {
                    display: none;
                }
                .linksMobile {
                    display: flex;
                }
            }
        }
    }
    .linksOpen {
        background-color: $light-color;
        padding: 0;
        .grouplinks {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 30px;
            .link {
                width: 100%;
                padding: 15px 0;
            }
        }
    }
}

